html {
    scroll-behavior: smooth;
}

main {
    margin-top: 40px;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar-right {
    float: right;
}

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    font-family: 'Satisfy', cursive;
    color: #f2f2f2;
    background-color: #333;
}

#message-container {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    font-size: 60px;
}

.sub-message {
    margin-top: 3vh;
    font-family: 'Domine';
    font-size: 1.2rem;
    width: 80%;
}

#profile-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 5fr 1fr;

}

.arrow {
    justify-self: end;
    padding-right: 1rem;
}

.profile {
    border-radius: 50%;
    width: 25vw;
    /* border: solid 4px yellow; */
}


.section-header {
    text-align: center;
    background-color: #e1f1ff;
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section-header-alternate {
    text-align: center;
    color: #e1f1ff;
    background-color: #333;
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 110vh;
    background-color: #e1f1ff;
    font-family: Hind Siliguri, Helvetica, Arial, sans-serif;
    padding-top: 2vh;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-link>h1 {
    font-family: Martel, Times New Roman, Times, serif;
    font-weight: 900;
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.project-link>img {
    width: 80%;
    padding-bottom: 2rem;
}

.project-container>p {
    color: #838383;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

.project-container>article {
    color: #838383;
    font-weight: 300;
    font-size: 1.3rem;
    width: 80%;
}

.end-item {
    display: grid;
    grid-template-rows: 6fr 1fr;
}

#marketing-bi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 130vh;
    background-color: #333;
}

#marketing-bi>.project-container>h1 {
    color: #f2f2f2;
    text-align: center;
}

#contact {
    text-align: center;
    height: 50vh;
    background-color: #e1f1ff;
    font-family: Martel, Times New Roman, Times, serif;
}